DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=kongres
DATABASE_URL=mysql://root:@localhost:3306/kongres
JWT_SECRET=supersecret_kongres_jwt_key_2026
KPU_API_BASE_URL=https://sirekap-obj-data.kpu.go.id
KPU_SCRAPE_INTERVAL_MINUTES=5
